body {
  background-image: url(stadium.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia;
  text-align: center;
  color: white;
  margin: 200px;
  font-size: 28pt;
}

button {
    background-color: black;
    border-radius: 25%;
    border-color: white;
    color: #FFA07A;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
